*{
    margin: auto;
    padding:0;
    box-sizing: 0;
}

body{
    background-image: linear-gradient(to top, rgb(4, 63, 4), rgb(10, 128, 10), rgba(17, 236, 17, 0.781));
}

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&display=swap');

header{
    font-size: 22px;
    text-align: center;
    padding: 50px 0px;
    color: white;
    background-color: black;
}

header > h1{
    font-family: 'Lilita One', cursive;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;
}

header > p > a{
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(255, 251, 251);
}

header > p > a:hover{
    border-radius: 5px;
    padding: 5vh;
    background-color: rgba(255, 255, 255, 0.397) ;
}

main{
    padding: 10vh 0vh;
    background-attachment: fixed;
    background-image: linear-gradient(to top, white, rgb(235, 234, 234), rgb(233, 233, 233));
}

main > p{
    margin: 10vh 0vh;
}

div > p,
main > p{
    font-size: 8vh;
    padding-left:5vh;
    font-family: 'Lobster', cursive;
    line-height: 80px;
    text-align: justify;
}

div > p{
    width: fit-content;
    padding: 5vh;
    margin: 15vh 0vh;
    color: rgb(241, 234, 234) ;
    background-color: rgba(0, 0, 0, 0.178);
}

.imagem-1{
    box-shadow: 4px 1px -19px 9px rgba(0, 0, 0, 0.521);
    box-shadow: 4px -1px 19px 9px rgba(0, 0, 0, 0.521);
    padding: 150px 0px;
    background: url('../imagens/background001.jpg')  center center fixed;
    background-size: cover;
}

.imagem-2{
    box-shadow: 4px 1px 19px 9px rgba(0, 0, 0, 0.521);
    box-shadow: 4px -1px 19px 9px rgba(0, 0, 0, 0.521);
    padding: 150px 0px;
    background: url('../imagens/background002.jpg') center center fixed;
    background-size: cover;
}

footer{
    box-shadow: 4px -4px 9px 5px rgba(0, 0, 0, 0.384);
    font-size: 1.3em;
    text-align: center;
    color:white ;
    padding: 30px 0px;
    background-color: black;
}

footer > a{
    text-decoration: none;
    color: white;
}

footer > a:hover{
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.397) ;
}