* {
    margin: 0;
    padding:0;
    box-sizing: 0;
    list-style: none;
}

body {
    background-image: linear-gradient(to top, rgb(4, 63, 4), rgb(10, 128, 10), rgba(17, 236, 17, 0.781));
    font-family: 'Lilita One', cursive;
}

header {
    font-size: 16px;
    text-align: center;
    padding: 50px 0px;
    color: white;
    background-color: black;
}

@media screen and ( min-width: 768px) {
    header{
        padding: 15px;
        font-size: 16px;
    }
}

h1 {
    font-family: 'Lilita One', cursive;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bolder;
}

header a {
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(255, 251, 251);
    padding: 2px;
}

header a:hover {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.397);
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 1.2em;
    padding-top: 20px;
    padding-bottom: 50px;
}

@media screen and ( min-width: 768px) {
    main {
        flex-direction: row;
        gap: 50px;
    }
}

li{
    
    padding-left: 20px;
    margin: 20px 0;
    letter-spacing: 1px;
    font-weight: 400;
}

.paragraf2,
.paragraf6 {
    background: url("../imagens/background001.jpg") left center no-repeat fixed;
}

.paragraf4 {
    background: url("../imagens/background002.jpg") left center no-repeat fixed;
}

.paragraf2,
.paragraf4,
.paragraf6 {
    height: 50vh;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
}

footer {
    box-shadow: 4px -4px 9px 5px rgba(0, 0, 0, 0.384);
    font-size: 1.2em;
    text-align: center;
    color:white ;
    padding: 30px 0px;
    background-color: black;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 2px;
}

footer  a:hover {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.397) ;
}