* {
    margin: 0;
    padding:0;
    box-sizing: 0;
}

body {
    background-image: linear-gradient(to top, rgb(4, 63, 4), rgb(10, 128, 10), rgba(17, 236, 17, 0.781));
}

header {
    font-size: 22px;
    text-align: center;
    padding: 50px 0px;
    color: white;
    background-color: black;
}

h1 {
    font-family: 'Lilita One', cursive;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;
}

header a {
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(255, 251, 251);
    padding: 2px;
}

header a:hover {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.397);
}

main {
    padding: 10vh 0;
    background-attachment: fixed;
    background-image: linear-gradient(to top, white, rgb(235, 234, 234), rgb(233, 233, 233));
}

<<<<<<< HEAD
@media screen and ( min-width:768px) {
    main {
        display: grid;
        grid-template-columns: 50%;
        grid-auto-rows: 80vh;
     }
     
 }

.img p,
main p {
    margin: 5vh 0;
    padding-left:5vw;
=======
main > p{
    margin: 2vh 0;
>>>>>>> parent of b9c6147 (Update style.css)
}

@media screen and ( min-width: 768px) {
    .img p,
    main {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
    }
}

div  p,
main  p {
    font-size: 4vw;
    padding-left:5vw;
    font-family: 'Lobster', cursive;
    line-height: 10vw;
    text-align: justify;
}

@media screen and ( min-width: 768px) {
    .img p,
    div  p,
    main  p {
        letter-spacing: 2px;
        font-size: 1.8em;
        line-height: normal;
        text-align: left;
        padding-left: 25px ;
        width:auto;
        height: 95%;
        display: flex;
        align-items: center;
    }
}

div p {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.527);
    width: fit-content;
    padding: 2vh 2vw;
    margin: 6vh 0vh;
    color: rgb(241, 234, 234) ;
    background-color: rgba(0, 0, 0, 0.459);
}

@media screen and ( min-width: 768px) {
    .img p,
    div p {
        width: auto;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.202);
    }
}

.img p{
    background-color: transparent;
    color: black;
    text-shadow: none;
}

@media screen and ( min-width: 768px) {
    .img p{
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.527);
        color: rgb(241, 234, 234) ;
        background-color: rgba(0, 0, 0, 0.459);
        height: 80vh;
    }
}

.imagem-1 {
    box-shadow: inset 6px 6px 25px 0px rgba(0, 0, 0, 0.603);
    padding: 0.5vh 0;
    background: url('../imagens/background001.jpg')  center center fixed;
    background-size: cover;
}

.imagem-2 {
    box-shadow: inset 6px 6px 25px 0px rgba(0, 0, 0, 0.603);
    padding: 0.5vh;
    background: url('../imagens/background002.jpg') center center fixed;
    background-size: cover;
}

@media screen and ( min-width: 768px) {
    .imagem-1{
        grid-row-start: 1;
        grid-column-start: 2;
        padding: 0;
    }

    .imagem-2{
        grid-row-start: 2;
        grid-column-start: 1;
        padding: 0;
    }

    .imagem-3{
        grid-row-start: 3;
        grid-column-start: 2;
        padding: 0;
        background: url('../imagens/background001.jpg')  center center fixed;
        background-size: cover;
        box-shadow: inset 6px 6px 25px 0px rgba(0, 0, 0, 0.603);
    }

    .imagem-4{
        grid-row-start: 4;
        grid-column-start: 1;
        padding: 0;
        background: url('../imagens/background002.jpg')  center center fixed;
        background-size: cover;
        box-shadow: inset 6px 6px 25px 0px rgba(0, 0, 0, 0.603);
    }

}

footer {
    box-shadow: 4px -4px 9px 5px rgba(0, 0, 0, 0.384);
    font-size: 1.2em;
    text-align: center;
    color:white ;
    padding: 30px 0px;
    background-color: black;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 2px;
}

footer  a:hover {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.397) ;
}